body {
    font-family: Arial;
    user-select: none;
}
#centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#sesion {
    width: 450px;
    height: 250px;
    border: 1px solid black;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
}
#centrar_contenido {
    padding: 65px;
}
#inicio {
    text-align: right;
}
div.divs_inicio {
    margin-right: 50px;
}
div.div_error {
    font-size: 8px;
    color: red;
    height: 30px;
    margin-top: 3px;
}

#registro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 160px;
}