body {
    font-family: Arial;
    user-select: none;
}

#buscador {
    border: 1px solid black;
    background-color: deeppink;
    display: inline-block;
    width: 500px;
}
#div_derecha_barra_superior {
    width: 200px;
    
    display: inline-block;
}
#logo {
    border: 1px solid black;
    width: 200px;
}


#barra_superior {
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    height: 75px;
    width: 99%;

    position: fixed;
    margin-top: -8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#espacio_barra_superior {
    height: 95px;
}

#centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#descuentos {
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    height: 60px;
    width: 80%;
}



div.viajes {
    border: 1px solid black;
    width: 275px;
    height: 350px;

    display: inline-block;
}
div.contenido_viajes {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
}
img.viajes {
    width: 275px;
    height: 275px;
}
div.titulo_viaje {
    font-weight: bold;
    font-size: 24px;

    display: flex;
    justify-content: center;
}
div.precio_estrellas {
    display: flex;
    justify-content: space-between;
    
    margin-top: 10px;
}

a.enlace_viaje{
    color: black;
}
