#logo {
    border: 1px solid black;
    height: 71px;
}
#buscador {
    border: 1px solid black;
    background-color: deeppink;
    display: inline-block;
    width: 500px;
}
#hueco_buscador {
    display: inline-block;
    width: 500px;
}
#div_derecha_barra_superior {
    width: 200px;
    
    display: inline-block;
}

#barra_superior {
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    height: 75px;
    width: 99%;

    position: fixed;
    margin-top: -8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#espacio_barra_superior {
    height: 95px;
}


@media (min-width: 1920px) {
    #logo {
        border: 2px solid black;
        height: 142px;
    }
    #buscador {
        border: 2px solid #000000;
        width: 1000px;
    }
    #hueco_buscador {
        width: 1000px;
    }
    #div_derecha_barra_superior {
        width: 600px;
    }
    #barra_superior {
        border: 2px solid black;
        height: 150px;
        margin-top: -16px;
    }
    #espacio_barra_superior {
        height: 190px;
    }
}
@media (min-width: 2560px) {
    #logo {
        border: 2.5px solid black;
        height: 177.5px;
    }
    #buscador {
        border: 2.5px solid black;
        width: 1250px;
    }
    #hueco_buscador {
        width: 1250px;
    }
    #div_derecha_barra_superior {
        width: 500px;
    }
    #barra_superior {
        border: 2.5px solid black;
        height: 187.5px;
        margin-top: -20px;
    }
    #espacio_barra_superior {
        height: 237.5px;
    }
}
