#logo {
    border: 1px solid black;
    height: 71px;;
}
#buscador {
    border: 1px solid black;
    background-color: deeppink;
    display: inline-block;
    height: 500px;
}
#hueco_buscador {
    display: inline-block;
    width: 500px;
}
#div_derecha_barra_superior {
    width: 200px;
    
    display: inline-block;
}

#barra_superior {
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    height: 75px;
    width: 99%;

    position: fixed;
    margin-top: -8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#espacio_barra_superior {
    height: 95px;

}

