body {
    font-family: Arial;
    user-select: none;
}


#centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#descuentos {
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    height: 60px;
    width: 80%;
}



div.viajes {
    border: 1px solid black;
    width: 275px;
    height: 350px;

    display: inline-block;
}
div.contenido_viajes {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
}
img.viajes {
    width: 275px;
    height: 275px;
}
div.titulo_viaje {
    font-weight: bold;
    font-size: 24px;

    display: flex;
    justify-content: center;
}
div.precio_estrellas {
    display: flex;
    justify-content: space-between;
    
    margin-top: 10px;
}

a.enlace_viaje{
    color: black;
}