/* Estilo general */
body {
    font-family: Arial, sans-serif;
    user-select: none;
    background-color: #FFFDD0;
    margin: 0;
    padding: 0;
}

/* Logo más pequeño */
#logo {
    height: 60px;
    width: auto;
}

/* Banner arriba */
#banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#texto_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 10px;
}

#texto_banner h1 {
    font-size: 36px;
    margin: 0;
}

#texto_banner p {
    font-size: 18px;
    margin-top: 10px;
}

/* Descuentos */
#centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#descuentos {
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_descuentos {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Viajes */
.contenido_viajes {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 90%;
    flex-wrap: wrap;
}

.viajes {
    border: 1px solid black;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.viajes:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

img.viajes {
    width: 100%;
    height: 275px;
    object-fit: cover;

    background-image: url(../img/inexistente.png);
}

.titulo_viaje {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.precio_estrellas {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 16px;
}

a.enlace_viaje {
    color: black;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}

footer .redes {
    margin-top: 10px;
}

footer .redes a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer .redes a:hover {
    text-decoration: underline;
}



@media (min-width: 1920px) {
    body {
        font-size: 28px;
    }
    #logo {
        height: 120px;
    }
    #banner {
        height: 600px;
        margin-bottom: 40px;
    }
    #texto_banner {
        padding: 40px;
        border-radius: 20px;
    }
    #texto_banner h1 {
        font-size: 72px;
    }
    #texto_banner p {
        font-size: 36px;
        margin-top: 20px;
    }
    #centrar {
        margin-top: 40px;
    }
    #descuentos {
        border: 2px solid black;
        height: 120px;
    }
    .contenido_viajes {
        margin: 40px auto;
    }
    .viajes {
        border: 2px solid black;
        width: 380px;
        height: 600px;
        margin: 20px;
    }
    .viajes:hover {
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }
    img.viajes {
        height: 550px;
        background-image: url(../img/inexistente.png);
    }
    .titulo_viaje {
        font-size: 40px;
        margin-top: 10px;
    }
    .precio_estrellas {
        padding: 0 20px;
        margin-top: 20px;
        font-size: 32px;
    }
    footer {
        padding: 40px;
        margin-top: 100px;
        font-size: 28px;
    }
    footer p {
        margin: 10px 0;
    }
    footer .redes {
        margin-top: 20px;
    }
    footer .redes a {
        margin: 0 20px;
    }
}

@media (min-width: 2560px) {
    body {
        font-size: 40px;
    }
    #logo {
        height: 150px;
    }
    #banner {
        height: 750px;
        margin-bottom: 50px;
    }
    #texto_banner {
        padding: 50px;
    }

    #texto_banner h1 {
        font-size: 90px;
    }

    #texto_banner p {
        font-size: 45px;
        margin-top: 25px;
    }
    #centrar {
        margin-top: 50px;
    }
    #descuentos {
        border: 2.5px solid black;
        height: 150px;
    }
    .contenido_viajes {
        margin: 50px auto;
    }
    .viajes {
        border: 2.5px solid black;
        width: 510px;
        height: 800px;
        margin: 25px;
    }
    .viajes:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
    img.viajes {
        height: 687.5px;
        background-image: url(../img/inexistente.png);
    }
    .titulo_viaje {
        font-size: 50px;
        margin-top: 12.5px;
    }
    .precio_estrellas {
        padding: 0 25px;
        margin-top: 25px;
        font-size: 40px;
    }
    footer {
        padding: 50px;
        margin-top: 125px;
        font-size: 35px;
    }
    footer p {
        margin: 12.5px 0;
    }
    footer .redes {
        margin-top: 25px;
    }
    footer .redes a {
        margin: 0 25px;
    }
}
