body {
    font-family: Arial;
    user-select: none;
    font-size: 16px;
}



#header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(70, 129, 70);
    height: 30px;
}
#registro {
    border: 1px solid black;
    border-radius: 20px;
    width: 80%;
    height: 300px;
    background-color: rgb(248, 248, 248);
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#mensaje_de_error{
    color: red;
    margin-top: 5%;
    height: 20px;
    font-size: 12.5px;
}
div.divs_registro{
    display: flex;
    justify-content: space-between;

    margin-bottom: 2.5%;
}
button.boton_registrarse{
    margin-left: 80%;
    border: 2px solid rgb(70, 129, 70);
    border-radius: 5px;
    background-color: yellow;
}
input {
    width: 150px;
    height: 15px;
}


@media (min-width: 1920px) {
    body {
        font-size: 28px;
    }
    #registro {
        border: 2px solid black;
        border-radius: 30px;
        height: 600px;
    }
    #mensaje_de_error{
        height: 40px;
        font-size: 25px;
    }
    button.boton_registrarse{
        border: 4px solid rgb(70, 129, 70);
        border-radius: 10px;
    }
    input {
        width: 300px;
        height: 30px;
        font-size: 20px;
    }
    button {
        font-size: 28px;
    }
}

@media (min-width: 2560px) {
    body {
        font-size: 40px;
    }
    #registro {
        border: 2.5px solid black;
        border-radius: 50px;
        height: 750px;
    }
    #mensaje_de_error{
        height: 50px;
        font-size: 31.25px;
    }
    button.boton_registrarse{
        border: 5px solid rgb(70, 129, 70);
        border-radius: 12.5px;
    }
    input {
        width: 375px;
        height: 37.5px;
        font-size: 25px;
    }
    button {
        font-size: 40px;
    }
}
