#registro {border: 1px solid black; border-radius: 20px; width: 80%; height: 250px;
    background-color: rgb(248, 248, 248); margin-left: auto; margin-right: auto;
}
#registro{display: flex; align-items: center; justify-content:space-evenly;
}
.divs_registro{display: flex; justify-content: space-between;
}
.boton_registrarse{margin-left: 80%; border: 1px solid white; border-radius: 5px; background-color: mediumorchid; color:white}