

.rating {
    direction: rtl; /* Para que las estrellas se seleccionen correctamente */
    unicode-bidi: bidi-override;
    display: flex;
    justify-content: end;
    font-size: 30px;
    cursor: pointer;
}

.rating span {
    color: #ccc;
    transition: 0.2s;
}

.rating span.hover,
.rating span.selected {
    color: gold;
}

#ventana_resena {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
div.contenido_resenas {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 400px;
    margin: 100px auto;
    text-align: center;
}